@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto+Slab:wght@500&display=swap');

body {
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

:root {
  --azure: #0290ff;
  --palid-white: #e8e8e8;
  --gray: #cac6c6;
  --black-two: #121212;
  --white: #fff;
  --cool-blue: #4386bf;
  --z: #fafafa;
  --black-5: rgba(0, 0, 0, 0.5);
  --light-pink: #c4c4c4;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 87.5rem;
  height: 4.938rem;
  margin: 0 0 2.375rem;
  padding: 1.438rem 6.188rem 0.188rem 6.25rem;
  background-color: var(--white);
}

.header-title {
  font-size: 1.875rem;
  font-family: 'Montserrat-Bold', sans-serif;
  width: 15rem;
  height: 2.313rem;
  margin: 0.375rem 2.938rem 0.125rem 0;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--azure);
}

.home-link {
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.categories-link {
  width: 6.563rem;
  height: 1rem;
  margin: 1.125rem 41.5rem 0.688rem 2.563rem;
  opacity: 0.5;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.813rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 1.9px;
  color: var(--black-two);
}

.rightbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  color: var(--azure);
  border: 1px solid var(--gray);
  border-radius: 100%;
}

.fa-user {
  width: 1.063rem;
  height: 1.063rem;
  color: var(--azure);
}

.leftbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.book-item {
  padding-left: 0.01rem;
}

.book-item li {
  list-style-type: none;
  flex-direction: column;
  align-items: flex-start;
}

.main-container {
  background-color: var(--palid-white);
  padding-top: 2.313rem;
}

.main-container-books {
  width: 69.5rem;
  height: 8.625rem;
  margin: 2.313rem 6.25rem 0.01rem;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px var(--palid-white);
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.left-item-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-items: start;
}

.book-box {
  display: flex;
  flex-direction: column;
  justify-items: left;
  justify-content: flex-start;
}

.middle-item-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  width: 33.33%;
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1.375rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: var(--black-two);
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: 'Roboto Slab - Light', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-blue);
}

.button {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-family: 'Roboto Slab - Light', sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--cool-blue);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.progress-percentage {
  width: 4.25rem;
  height: 2.438rem;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.completed-bar {
  width: 5rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: 'Montserrat-Regular', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.current-chapter {
  width: 8.875rem;
  height: 1.125rem;
  opacity: 0.5;
  font-family: 'Roboto Slab - Light', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--black-two);
}

.right-item-container {
  display: flex;
  flex-direction: column;
  width: 30.33%;
  gap: 0.5rem;
}

.chapter-info {
  width: 13.688rem;
  height: 1.313rem;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: var(--black-two);
}

.button-update {
  width: 11.5rem;
  height: 2.063rem;
  margin-top: 1rem;
  border-radius: 4px;
  border: none;
  background-color: var(--azure);
  color: var(--gray);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
}

.breakline {
  width: 80.5rem;
  border: solid 1px var(--gray);
}

.add-form {
  background-color: var(--palid-white);
  width: 80.5rem;
  height: 6.625rem;
  padding-bottom: 13rem;
  margin: 2.313rem 6.25rem 0.01rem;
  border-radius: 4px;
  border: solid 1px var(--palid-white);
  display: flex;
  flex-direction: column;
}

.form-title {
  width: 10.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.18px;
  color: #888;
}

.addabook {
  display: flex;
  flex-direction: row;
  width: 80.5rem;
  justify-content: space-between;
  height: 2.813rem;
}

.formtitle {
  width: 60%;
  padding-left: 1rem;
  border-radius: 4px;
  border: solid 1px var(--palid-white);
  background-color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--light-pink);
}

.formauthor {
  width: 20%;
  padding-left: 1rem;
  border-radius: 4px;
  border: solid 1px var(--palid-white);
  background-color: var(--white);
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.15px;
  color: var(--light-pink);
}

.formbutton {
  width: 12%;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  border: none;
  background-color: var(--azure);
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.813rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.5px;
  text-align: center;
  color: var(--white);
}
